<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whhp.oa.mapper.DepartmentMapper">
  <resultMap id="BaseResultMap" type="com.whhp.oa.pojo.Department">
    <id column="did" jdbcType="BIGINT" property="did" />
    <result column="dname" jdbcType="VARCHAR" property="dname" />
    <result column="description" jdbcType="VARCHAR" property="description" />
  </resultMap>
  <sql id="Base_Column_List">
    did, dname, description
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from department
    where did = #{did,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from department
    where did = #{did,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.whhp.oa.pojo.Department">
    insert into department (did, dname, description
      )
    values (#{did,jdbcType=BIGINT}, #{dname,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.whhp.oa.pojo.Department">
    insert into department
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="did != null">
        did,
      </if>
      <if test="dname != null">
        dname,
      </if>
      <if test="description != null">
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="did != null">
        #{did,jdbcType=BIGINT},
      </if>
      <if test="dname != null">
        #{dname,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.whhp.oa.pojo.Department">
    update department
    <set>
      <if test="dname != null">
        dname = #{dname,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where did = #{did,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.whhp.oa.pojo.Department">
    update department
    set dname = #{dname,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR}
    where did = #{did,jdbcType=BIGINT}
  </update>
</mapper>